
{% extends 'base.html' %}

{%load staticfiles%}

{% block content %}
  <div class="page-content container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="widget">
          <div class="widget-heading">
            <h3 class="widget-title">CREAR NUEVA AGENCIA</h3>
          </div>
          <div class="widget-body">



            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Guarda Nueva Agencia" />
            </form>




          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}
