<!--CARGA DE ARCHIVOS STATICOS-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Crown Iniciar Sesión</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{%static 'login/assets/bootstrap/css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{%static 'login/assets/font-awesome/css/font-awesome.min.css'%}">
		    <link rel="stylesheet" href="{%static 'login/assets/css/form-elements.css'%}">
        <link rel="stylesheet" href="{%static 'login/assets/css/style.css'%}">


        <!-- Favicon and touch icons -->

        <link rel="icon" href="{%static 'build/images/logo/flavicon.ico'%}" type="image/ico" />
        <!-- <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{%static 'login/assets/ico/apple-touch-icon-144-precomposed.png'%}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{%static 'login/assets/ico/apple-touch-icon-114-precomposed.png'%}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{%static 'login/assets/ico/apple-touch-icon-72-precomposed.png'%}">
        <link rel="apple-touch-icon-precomposed" href="{%static 'login/assets/ico/apple-touch-icon-57-precomposed.png'%}"> -->

    </head>

    <body>


              {% block login_content %}
              {% endblock %}

        <!-- Javascript -->

        <script src="{%static 'login/assets/js/jquery-1.11.1.min.js'%}"></script>
        <script src="{%static 'login/assets/bootstrap/js/bootstrap.min.js'%}"></script>
        <script src="{%static 'login/assets/js/jquery.backstretch.min.js'%}"></script>
        <script>
        jQuery(document).ready(function() {

            /*
                Fullscreen background
            */
            $.backstretch("{%static 'login/assets/img/backgrounds/1.jpg'%}");



        });


        </script>

    </body>

</html>
