{% extends 'baselogin.html' %}

{%load staticfiles%}

{% block navbar %}
{% endblock %}

{% block login_content %}

{% if validlink %}

<div class="top-content">
          <div class="inner-bg">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-8 col-sm-offset-2 text">
                          <h1><strong>Nueva</strong> Contraseña</h1>
                          <div class="description">
                            <p>

                            </p>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                          <div class="form-top-left">
                            <h3>Portal Crown</h3>
                              <p>Ingrese su Nueva Constraseña:</p>
                          </div>
                          <div class="form-top-right">
                            <i class="fa fa-lock"></i>
                          </div>
                          </div>
                          <div class="form-bottom">


                        <form role="form" action="" method="post" class="login-form">

                          {% csrf_token %}


                          {{ form.new_password1.errors }}


                          <div class="form-group">
                            <label class="sr-only" for="form-username">Nueva Contraseña</label>

                            {{ form.new_password1 }}

                            {{form.new_password2.errors}}
                            <label class="sr-only" for="form-username">Confirme la contraseña</label>

                            {{ form.new_password2 }}
                            </div>


                            <button type="submit" class="btn" value = "Enviar">Cambiar la contraseña</button>

                        </form>

                      </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6 col-sm-offset-3 social-login">
                        <h3></h3>

                      </div>
                  </div>
              </div>
          </div>

      </div>

{%else%}

<h1 class = "text-center">Enlace Invalido</h1>

{%endif%}


{% endblock%}
