// Bootstrap FileStyle
script(type='text/javascript', src=plugins+'bootstrap-filestyle/src/bootstrap-filestyle.js')
// Magnific Popup
script(type='text/javascript', src=plugins+'magnific-popup/dist/jquery.magnific-popup.min.js')