{% extends 'base.html' %}

{% block content %}

<div class="page-container">
  <div class="page-content container-fluid">
    <h3 class="mt-0">Recursos Humanos / Inventario</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="widget">
          <div class="widget-heading">
            <h3 class="widget-title">Registro de Nueva Linea Movil</h3>
          </div>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
          <div class="text-right">
              <button type="submit" class="btn btn-outline btn-success">Registrar</button>
              <button type="reset" class="btn btn-outline btn-black">Limpiar</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="widget">
      <div class="widget-body">
        <div class="media">
          <div class="media-body"><span class="fs-12 text-muted text-uppercase">Total Lineas Registradas</span><span class="text-danger"><i class="ion-arrow-down-c"></i> 2.43%</span>
            <div class="fs-36 fw-300 counter">200</div>
          </div>
          <div class="media-right"><i class="ion-ios-list-outline fs-36"></i></div>
        </div>
      </div>
      <div id="flot-order" style="height: 50px; margin-top: -30px"></div>
    </div>
  </div>

</div>

{% endblock content %}
